@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: #dde3e6;
    color: #04060b;
    margin: 0;
}

.logo {
    margin-top: 90px;
    margin-bottom: 20px;
}